<div
  class="player"
  [ngClass]="{'-show': isShow}"
  *ngIf="track"
>
  <div class="player__name">
    {{ track.name }}
  </div>
  <div class="player__controls">
    <ng-container
      *ngIf="audio"
    >
      <div class="player-duration">
        <div class="player-duration__curr-time">
          {{ audio.currentTime | hoursMinutesSeconds }}
        </div>
        <div class="player-duration__progressbar">
          <div class="progressbar">
            <div
              class="progressbar__progress"
              [ngStyle]="{ width: getPercentageProgress() + '%' }"
            >
              <div class="progressbar__progress__circle"></div>
            </div>
          </div>
        </div>
        <div class="player-duration__total-time">
          {{ audio.duration | hoursMinutesSeconds }}
        </div>
      </div>
      <div class="player-buttons">
        <i
          class="material-icons"
          (click)="prevTrack()"
        >
          skip_previous
        </i>
        <i
          class="material-icons"
          *ngIf="!isPlaying"
          (click)="playPause()"
        >
          play_arrow
        </i>
        <i
          class="material-icons"
          *ngIf="isPlaying"
          (click)="playPause()"
        >
          pause
        </i>
        <i
          class="material-icons"
          (click)="nextTrack()"
        >
          skip_next
        </i>
      </div>
    </ng-container>
  </div>
</div>
