* {
  -webkit-backface-visibility: hidden;
}

.container {
  position: relative;
  padding-bottom: 125px;
  padding-top: 56px;

  .main-loader {
    .loader {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      background-color: transparentize($white, 0.5);
    }
  }
}
