@import "../../../../../scss/core/variables";

:host {
  display: block;
  padding-top: 20px;

  .podcast-list {
    padding: 20px 0;
  }

  .podcast-list-item {
    transition: 0.1s ease-in-out;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;

    app-image {
      transition: all 0.1s ease-in-out;
    }

    &:hover {
      background-color: darken($white, 3%);

      app-image {
        transform: scale(1.05);
      }
    }

    &__logo {
      width: 25%;
      padding: 10px;
      max-width: 180px;

      ::ng-deep {
        .loader {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .ball-beat {
            > div {
              width: 8px;
              height: 8px;
            }
          }
        }

        .image__bg {
          border-radius: 50%;
        }
      }
    }

    &__info {
      display: flex;
      padding-left: 20px;
      width: 75%;
      flex-direction: column;
      justify-content: space-between;

      &__name {
        font-size: 1.5em;
        padding-bottom: 20px;
        padding-top: 10px;
      }

      &__description {
        font-size: 0.8em;
        padding-bottom: 10px;
      }
    }
  }

}
