<loaders-css
  class="main-loader"
  [loader]="'ball-beat'"
  *ngIf="isCategoriesLoading"
></loaders-css>

<ng-container *ngIf="!isCategoriesLoading">
  <input
    class="form-control mb-4"
    type="search"
    placeholder="Search for podcasts..."
    aria-label="Search"
    [formControl]="searchControl"
  >
  <tabset
    *ngIf="!query"
  >
    <tab
      *ngFor="let c of categories; let i = index"
      [heading]="c.name"
      [id]="'tab_' + i"
      (select)="onCategoryTabSelect(c)"
    >
      <app-podcasts-list
        [podcasts]="podcasts"
        [isLoading]="isPodcastsLoading"
      ></app-podcasts-list>
    </tab>
  </tabset>

  <app-podcasts-list
    *ngIf="query"
    [podcasts]="podcasts"
    [isLoading]="isPodcastsLoading"
  ></app-podcasts-list>
</ng-container>
